@import 'src/main';

.card-holder {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1;
    margin: 20px;
    min-width: 300px;
    max-width: 50%;
  }
}

.elr-card {
  @include elr-card;
}

.elr-card-border {
  @include elr-card(
    $config: (
      border-color: #333,
      shadow: false
    )
  );
}

.elr-card-rounded {
  @include elr-card(
    $config: (
      border-color: #333,
      shadow: false,
      border-radius: 5px
    )
  );
}

.elr-card-centered {
  @include elr-card-centered;
}
