@import "src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-helpers/src/main";

@include elr-reset;

$box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);
$primary-color: #1976d2;
$accent-color: f81190;
$button-color: #1976d2;
$danger-color: #af100d;
$warning-color: #ca9626;
$success-color: #337234;
$info-color: #1976d2;
$muted-color: #999;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subheading {
  font-size: 16px;
  color: #666;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: 20px 0;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;

  > div {
    // flex: 1;
    flex-basis: calc(50% - 20px);
    margin: 20px;

    &:nth-of-type(odd) {
      margin-left: 0;
    }

    &:nth-of-type(even) {
      margin-right: 0;
    }
    // min-width: 300px;
    // max-width: 50%;
  }
}

@include elr-button-classes(
  $config: (
    background-color: $button-color,
    border-radius: $border-radius,
  )
);

@include elr-buttons-action(
  $config: (
    danger-color: $danger-color,
    warning-color: $warning-color,
    success-color: $success-color,
    info-color: $info-color,
    muted-color: $muted-color,
    accent-color: $accent-color,
  )
);

.elr-card {
  @include elr-card;
}

.elr-card-border {
  @include elr-card(
    $config: (
      border-color: #ccc,
      shadow: none,
    )
  );
}

.elr-card-rounded {
  @include elr-card(
    $config: (
      border-color: #ccc,
      shadow: none,
      border-radius: 5px,
    )
  );
}

.elr-card-centered {
  @include elr-card-centered;
}
