// scss-lint:disable NestingDepth
@use "sass:math";
@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

$box-shadow: 1px 1px4 rgba(0, 0, 0, 0.1), -1px -1px4 rgba(0, 0, 0, 0.1);

@mixin elr-thumbnail($config: ()) {
  $config: extend(
    (
      width: 160px,
      height: 160px,
      border-radius: 0,
      image-placement: center,
    ),
    $config
  );

  $width: map-get($config, width);
  $height: map-get($config, height);
  $border-radius: map-get($config, border-radius);
  $image-placement: map-get($config, image-placement);

  @if ($border-radius == "round") {
    border-radius: math.div($width, 2);
  } @else {
    border-radius: $border-radius;
  }

  overflow: hidden;
  // border: 3px solid #fff;
  // box-shadow: #999 0 0 0 1px;
  width: $width;
  height: $height;
  display: block;
  text-align: center;
  position: relative;

  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
  }
}

@mixin elr-card($config: ()) {
  $config: extend(
    (
      background-color: $white,
      accent-color: $primary-color,
      color: $text-color,
      border-color: none,
      margin: 0,
      border-radius: $border-radius,
      shadow: $box-shadow,
      image-placement: center,
    ),
    $config
  );

  $background-color: map-get($config, background-color);
  $color: map-get($config, color);
  $accent-color: map-get($config, accent-color);
  $border-color: map-get($config, border-color);
  $margin: map-get($config, margin);
  $border-radius: map-get($config, border-radius);
  $shadow: map-get($config, shadow);
  $image-placement: map-get($config, image-placement);

  background-color: $background-color;
  color: $color;
  max-width: 100%;
  height: auto;
  margin: $margin;

  @if ($shadow) {
    box-shadow: $shadow;
  }

  @if $border-radius {
    border-radius: $border-radius;
  }

  @if $border-color {
    border: 1px solid $border-color;
  }

  .elr-card-inner {
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .elr-header-content {
    padding: $base-fontsize;
    // padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @if $border-color {
      border-bottom: 1px solid $border-color;
    }
  }

  img {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
  }

  .elr-card-full-image {
    margin: 0;
    padding: 0;
  }

  .elr-card-header {
    figure {
      margin-top: 0;
      margin-bottom: 8px;
    }

    figure.elr-card-thumbnail {
      margin-bottom: 0;
    }

    .elr-card-full-image + .elr-header-content {
      padding-top: 0;
    }

    @if $border-radius {
      .elr-card-full-image {
        padding: 0;
      }

      .elr-card-full-image,
      .elr-card-full-image img {
        border-radius: $border-radius $border-radius 0 0;
      }
    }
  }

  .elr-card-title {
    font-size: 30px;
    color: $accent-color;
    font-weight: 900;
    width: 100%;

    a {
      color: inherit;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: lighten($accent-color, 10%);
      }
    }
  }

  .elr-card-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: $accent-color;
    padding: 0;
    margin: -4px 0 0;
    width: 100%;
  }

  .elr-card-image {
    width: 100%;
  }

  p {
    font-size: $base-fontsize;
    color: $color;
    padding: 4px 0;
  }

  ul {
    // list-style: none;
    margin: 8px;
    list-style-position: inside;
  }

  li {
    font-size: $base-fontsize;
    padding: 4px 0;
  }

  .elr-card-list-label {
    font-size: 110%;
    font-weight: 700;
    padding-right: 4px;
  }

  .elr-card-content {
    padding: $base-fontsize;

    > :first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .elr-card-body {
    clear: both;
    flex-grow: 2;
    line-height: 1.5;
  }

  .elr-card-body,
  .elr-card-footer {
    figure {
      margin: $base-fontsize;
      width: auto;

      &.elr-card-full-image {
        margin: 0 0 -6px;
      }
    }
  }

  .elr-card-footer {
    padding: $base-fontsize;

    @if ($border-color) {
      border-top: 1px solid $border-color;
    }

    @if $border-radius {
      .elr-card-full-image,
      .elr-card-full-image img {
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }

  // .elr-button {
  //   // @include elr-button;
  //   font-size: 14px;
  // }

  .elr-card-actions {
    display: flex;
    justify-content: space-between;
    flex: 1;

    .elr-button,
    form {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0 8px 0 0;
      min-width: 0;

      &:nth-child(even) {
        margin-right: 0;
        margin-left: 8px;
      }

      &:only-of-type {
        margin-left: 0;
        margin-right: 0;
        // max-width: 200px;
      }
    }

    form [type="submit"] {
      width: 100%;
    }
  }

  .elr-card-thumbnail {
    @include elr-card-thumbnail(
      $config: (
        border-radius: $border-radius,
      )
    );
    margin-right: $base-fontsize;
  }

  .elr-card-thumbnail-round {
    @include elr-card-thumbnail(
      $config: (
        round: true,
      )
    );
  }
}

@mixin elr-card-thumbnail($config: ()) {
  $config: extend(
    (
      round: false,
      border-radius: 3px,
    ),
    $config
  );

  $round: map-get($config, round);
  $border-radius: map-get($config, border-radius);

  @if $round {
    @include elr-thumbnail(
      $config: (
        width: 100px,
        height: 100px,
        border-radius: "round",
      )
    );
  } @else {
    @include elr-thumbnail(
      $config: (
        width: 60px,
        height: 60px,
        border-radius: $border-radius,
      )
    );
  }

  margin-right: $base-fontsize;
  padding: 0;
}

@mixin elr-card-centered() {
  text-align: center;

  .elr-header-content {
    display: block;
  }

  .elr-card-header {
    figure {
      margin-bottom: $base-fontsize;
    }
  }

  .elr-card-thumbnail,
  .elr-card-thumbnail-round {
    margin-left: auto;
    margin-right: auto;

    + .elr-card-title {
      padding-top: $base-fontsize;
    }
  }

  .elr-card-actions {
    justify-content: center;
  }
}
