@import "elr-scss-config/src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-base/src/main";
@import "elr-scss-helpers/src/main";
@import "src/main";

@include elr-reset;
@include elr-base;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: ($base-fontsize * 1.5);
}

.main-heading,
.subheading {
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
}

.subheading {
  font-size: $base-fontsize * 1.5;
  font-weight: 900;
  color: $primary-color;
}

.demo-content {
  position: relative;
  padding: ($base-fontsize * 1.5) 0;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > div {
    flex-basis: calc(33.3333% - $base-fontsize * 1.5);
    margin: 0 ($base-fontsize * 1.5) ($base-fontsize * 1.5);
    min-width: 300px;

    @media (min-width: 1025px) {
      &:nth-of-type(1n) {
        margin-left: 0;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }

    @media (max-width: 1024px) and (min-width: 701px) {
      flex-basis: calc(50% - $base-fontsize);
      margin: 0 $base-fontsize $base-fontsize;

      &:nth-of-type(odd) {
        margin-left: 0;
      }

      &:nth-of-type(even) {
        margin-right: 0;
      }
    }

    @media (max-width: 700px) {
      flex-basis: 100%;
      margin-left: $base-fontsize;
      margin-right: $base-fontsize;
    }
  }
}

@include elr-button-classes(
  $config: (
    background-color: $button-color,
    border-radius: $border-radius,
  )
);

@include elr-buttons-action(
  $config: (
    danger-color: $danger-color,
    warning-color: $warning-color,
    success-color: $success-color,
    info-color: $info-color,
    muted-color: $muted-color,
    accent-color: $accent-color,
  )
);

.card {
  @include elr-card;
}

.card-border {
  @include elr-card(
    $config: (
      border-color: $light-gray,
      shadow: none,
    )
  );
}

.card-rounded {
  @include elr-card(
    $config: (
      border-color: $light-gray,
      shadow: none,
      border-radius: $base-fontsize * 0.5,
    )
  );
}

.card-centered {
  @include elr-card-centered;
}
