@import "src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-config/src/main";
@import "elr-scss-helpers/src/main";

@include elr-reset;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: $base-fontsize * 1.5;
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.subheading {
  font-size: $base-fontsize * 1.25;
  color: $primary-color;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: $base-fontsize * 1.5 0;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;

  > div {
    // flex: 1;
    flex-basis: calc(50% - $base-fontsize * 1.5);
    margin: $base-fontsize * 1.5;

    &:nth-of-type(odd) {
      margin-left: 0;
    }

    &:nth-of-type(even) {
      margin-right: 0;
    }
    // min-width: 300px;
    // max-width: 50%;
  }
}

@include elr-button-classes(
  $config: (
    background-color: $button-color,
    border-radius: $border-radius,
  )
);

@include elr-buttons-action(
  $config: (
    danger-color: $danger-color,
    warning-color: $warning-color,
    success-color: $success-color,
    info-color: $info-color,
    muted-color: $muted-color,
    accent-color: $accent-color,
  )
);

.card {
  @include elr-card;
}

.card-border {
  @include elr-card(
    $config: (
      border-color: $light-gray,
      shadow: none,
    )
  );
}

.card-rounded {
  @include elr-card(
    $config: (
      border-color: $light-gray,
      shadow: none,
      border-radius: $base-fontsize * 0.5,
    )
  );
}

.card-centered {
  @include elr-card-centered;
}
